/*
=============== 
Variables
===============
*/
:root {
	--clr-white: #fff;
	--ff-primary: 'Poppins', sans-serif;
	--ff-secondary: 'Luxurious Roman', cursive;
	--light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
	--dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

/*
=============== 
global classes
===============
*/
h1,
h2,
h3,
h4 {
	text-transform: capitalize;
}
.section-center{
	margin: 0 auto;
	max-width: 1170px;
}
/*
======================
end of global classes
======================
*/

/*
===============
Search Section
===============
*/
.search{
	width: 85%;
}
@media screen and (min-width: 676px) {
  .search{
		width: 60%;
	}
}
/*
======================
End of Search Section
======================
*/

/*
======================
Phone details section
======================
*/
@media screen and (min-width: 992px) {
  .img-phone-details{
		height: 45rem;
		object-fit: cover;
	}
}
/*
============================
End of Phone details section
============================
*/

/*
======================
Phone list section
======================
*/
.section-phone-list{
	display: none;
}
.container-phone-list{
	position: relative;
}
.body-details{
	position: relative;
}
.btn-details{
	position: absolute;
	right: 0;
	bottom: 0;
}
/*
==========================
End of Phone list section
==========================
*/

/*
==========================
No phone found section
==========================
*/
.no-phone-found-section{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: none;
}

/*
=============================
End of No phone found section
=============================
*/

/*
===============
Spinner Section
===============
*/
.spinner-section{
	position: absolute;
	top: 49%;
	left: 49%;
	display: none;
}

/*
=======================
End of Spinner Section
=======================
*/

/*
========================
Section Show all button
========================
*/
.section-show-all{
	display: none;
}
.show-element{
	display: block;
}
/*
===============================
End of Section Show all button
===============================
*/






